* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alkatra", serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #4facfe, #00f2fe);
  color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.input-container {
  text-align: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.input {
  width: 100%;
  padding: 12px;
  font-size: 1em;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
}

.button {
  width: 100%;
  padding: 12px;
  font-size: 1.1em;
  font-weight: bold;
  color: #ffffff;
  background-color: #ff7e5f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform background-color ease-in-out 0.3s;
}

.button:hover {
  background-color: #ff6b47;
}

.weather-display {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 0s 1s;
}

@keyframes smooth-appear {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

.weather-display.visible {
  text-align: center;
  margin-top: 20px;
  opacity: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  align-items: center;
  animation: smooth-appear 1s ease forwards;
}

.temp {
  grid-area: 1 / 1 / 3 / 4;
  font-size: 2.5em;
  font-weight: bold;
  color: #ffffff;
  align-content: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.desc {
  height: 100%;
  grid-area: 1 / 4 / 3 / 5;
  font-size: 1.2em;
  color: #ffffff;
  align-content: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.aqi {
  grid-area: 3 / 1 / 5 / 2;
  font-size: 2.5em;
  font-weight: bold;
  color: #ffffff;
  align-content: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.sunInfo {
  grid-area: 3 / 2 / 5 / 4;
  align-content: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.sunrise {
  font-size: 2.5em;
  font-weight: bold;
  color: #ffffff;
  align-content: center;
}

.sunset {
  font-size: 2.5em;
  font-weight: bold;
  color: #ffffff;
}

.timezone {
  grid-area: 3 / 4 / 5 / 5;
  font-size: 2.5em;
  font-weight: bold;
  color: #ffffff;
  align-content: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.forecast-container {
  grid-area: 5 / 1 / 7 / 5;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 10px;
  column-span: all;
  align-content: center;
  border-radius: 10px;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); */
}

.forecast-day {
  font-size: 2.2em;
  font-weight: bold;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.weather-container {
  display: inline-block;
  position: relative;
  font-size: 30px;
  cursor: pointer;
}

.weather-container::after {
  content: attr(data-description);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

.weather-container:hover::after {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 480px) {
  .container {
    width: 100%;
  }

  .input-container {
    width: 90%;
    padding: 15px;
  }

  .input,
  .button {
    font-size: 0.9em;
  }

  .temp {
    font-size: 2em;
  }
}
