* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mitr', sans-serif;
}

.calculator {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom left, #00AAFF, #00FF6C);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    border: 2px solid black;
    background-color: #8fe68e;
    box-shadow: 3px 5px 13px 0px rgba(88, 88, 88, 0.75);
}



.calculator__box {
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    transition: width 0.5s ease, opacity 0.5s ease;
}

.box__screen {
    /* width: 100%; */
    height: 150px;
    border-radius: 13px;
    background-color: #80a7b0;
    box-shadow: 3px 5px 13px 0px rgba(88, 88, 88, 0.75);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    word-break: break-all;
    word-wrap: break-word;
    overflow-y: scroll;
    cursor: row-resize;
    transition: 0.5s ease-in-out
}

.box__screen::-webkit-scrollbar {
    width: 7px;
    display: none;
}

.box__screen::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.box__screen::-webkit-scrollbar-thumb {
    background: #aaecd3;
    border-radius: 10px;
}

.screen__current-operand {
    font-size: 42px;
    /* padding: 0 15px; */
    color: #dce6dd;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6);
    word-break: break-all;
    word-wrap: break-word;
}

.screen__previous-operand {
    font-size: 33px;
    /* padding: 0 15px; */
    color: #d6e0d7;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6);
}

.box__buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    transition: justify-content 0.5s ease-in-out;
}

.box__buttons--classic {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    z-index: 3;
}

.box__buttons--scientific {
    max-width: 0;
    opacity: 0;
    transition: max-width 0.5s ease, opacity 0.5s ease;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    z-index: 1;
}

.box__buttons--scientific.active {
    max-width: 100%;
    opacity: 1;
}

.numberButton {
    width: 60px;
    border-radius: 50%;
    background-color: #eaf0b4;
    color: #3e0505;
    font-size: 22px;
}

.box__buttons button {
    transition: all .2s ease-in-out;
    box-shadow: 3px 5px 13px 0px rgba(88, 88, 88, 0.75);
    border: none;
    height: 60px;
}

.box__buttons button:hover {
    transform: scale(1.1);
}

.box__buttons button:active {
    transform: scale(0.9);
}

.operationButton,
.functionButton,
.constantButton {
    width: 60px;
    border-radius: 50%;
    background-color: #72c1e8;
    font-weight: 200;
    color: #353535;
    font-size: 30px;
}

.operationButtonDel,
.bracketButton {
    width: 60px;
    border-radius: 50%;
    background-color: #0f6c94;
    color: #e8ead6;
    font-size: 17px;
}

.font-17 {
    font-size: 17px;
    font-weight: 300;
}

.font-20 {
    font-size: 20px;
    font-weight: 300;
}

.invisable {
    background-color: transparent;
    box-shadow: 0px 0px 0px 0px rgba(88, 88, 88, 0) !important;
}

.functionButton.doubleButton--right_first {
    border-radius: 50px;
    background-color: #72c1e8;
    color: #353535;
    font-size: 20px;
}

.doubleButton--left {
    grid-column: 1/3;
    border-radius: 50px;
    background-color: #0f6c94;
    color: #e8ead6;
    font-size: 20px;
}

.doubleButton--right {
    grid-column: 3/5;
    border-radius: 50px;
    background-color: #f56c27;
    color: #eaf0b4;
    font-size: 30px;
}

.box__switch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cc77cc8f;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 7px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #C7C;
}

input:focus+.slider {
    box-shadow: 0 0 1px #C7C;
}

input:checked+.slider:before {
    transform: translateX(30px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media (max-width: 768px) {

    /* .calculator-container {
        width: 100%;
        height: 100%;
    } */

    .screen__current-operand {
        font-size: 36px;
    }

    .screen__previous-operand {
        font-size: 28px;
    }

    .box__buttons button {
        height: auto;
    }

    .numberButton,
    .operationButton,
    .functionButton,
    .constantButton {
        font-size: 20px;
    }

    .operationButtonDel,
    .bracketButton {
        font-size: 15px;
    }
}

@media (max-width: 480px) {

    .calculator-container {
        /* width: 100%;
        height: 100%; */
        overflow-y: scroll;
    }

    .screen__current-operand {
        font-size: 30px;
    }

    .screen__previous-operand {
        font-size: 24px;
    }

    .box__buttons {
        flex-direction: column;
        gap: 15px;
    }

    .box__buttons button {
        height: auto;
    }

    .numberButton,
    .operationButton,
    .functionButton,
    .constantButton {
        width: 50px;
        height: 50px;
        font-size: 18px;
    }

    .operationButtonDel,
    .bracketButton {
        font-size: 13px;
    }
}